@tailwind base;
@tailwind components;
@tailwind utilities;

/* Если хочешь 100% гарантию, что body не будет иметь отступов, добавь: */
html, body, #app {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100vh;
  background-color: #ffffff; /* Белый фон под всем */
}